@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.headhead {
	padding-top: 50px;
	position: relative;
	font-size: 50px;
	text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
	  color: #fff6a9;
	font-family: "Sacramento", cursive;
	text-align: center;
  }


body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(black, #6fdaed);
  color: #b3aca7;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

#input {
  font-family: 'Lato', sans-serif;
 
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: white;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}


.styling {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  text-align: center;
  background: white;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

#submit {
  width: 470px;
  height: 50px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: white;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px white;
  background-color: black;
}

#submit:hover {
  color: #e2dedb;
  
}